@font-face {
    font-family: 'montserat-extra-bold';
    src: url('./Montserrat-VariableFont_wght.ttf') format('truetype'),
    url('./Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: 800;
    font-stretch: 1% 100%;
}
:root {
    
--mobile-title-font-size: 1.8rem;

--extra-bold-montserat-font: montserat-extra-bold;
    --white-font-color: #FFFF;
    --dark-gray-font-color: #464646;
    --full-black-font-color: #000000;
    --turquoise-font-color: #01E8BB;
    --white-smoke-font-color: #f4f4f4;
    --light-gray-font-color: #b4b4b4;
    font-size: 16px;

}

body {
background-color: var(--light-gray-font-color);
color: var(--full-black-font-color);
font-family: var(--extra-bold-montserat-font);
padding: 0;
margin: 0;
box-sizing: border-box;


}
/* #content {
    
} */



@media (max-width:760px) {
body {
    background-color: var(--turquoise-font-color);

}    
.sections-parent {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border: 20px solid black;

}
.mobile-image-wrapper {

}



}
