:root {
    --white-font-color: #FFFF;
    --dark-gray-font-color: #464646;
    --full-black-font-color: #000000;
    --turquoise-font-color: #01E8BB;
    --white-smoke-font-color: #f4f4f4;
    --light-gray-font-color: #b4b4b4;


}
body {
    background-color: var(--full-black-font-color);
background-color: var(--gray-font-color);
background-color: var(--dark-gray-font-color);
background-color: var(--white-smoke-font-color);
background-color: var(--turquoise-font-color);
background-color: var(--light-gray-font-color);
}

#content {
    
}
div {
    background-color: var(--white-font-color);
}

@media (max-width:760px) {
body {
    background-color: var(--turquoise-font-color);
}    
}
