* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'montserat-extra-bold';
    src: url('./Montserrat-VariableFont_wght.ttf') format('truetype'),
    url('./Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: 800;
    font-stretch: 1% 100%;
}
@font-face {
    font-family: 'montserat-extra-thin';
    src: url('./Montserrat-VariableFont_wght.ttf') format('truetype'),
    url('./Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: 300;
    font-stretch: 1% 100%;
}
:root {
    --mobile-EXTRA-small-spacing: 25px;
--mobile-small-spacing: 50px;

    --mobile-anchor-padding: 10px 40px;

--mobile-title-font-size: 1.8rem;

--extra-bold-montserat-font: montserat-extra-bold;
--extra-thin-montserat-font: montserat-extra-thin;

    --white-font-color: #FFFF;
    --dark-gray-font-color: #464646;
    --full-black-font-color: #000000;
    --turquoise-font-color: #01E8BB;
    --white-smoke-font-color: #f4f4f4;
    --light-gray-font-color: #b4b4b4;
    font-size: 16px;

}

body {
background-color: var(--light-gray-font-color);
color: var(--full-black-font-color);
font-family: var(--extra-bold-montserat-font);
padding: 0;
margin: 0;
box-sizing: border-box;


}
/* #content {
    
} */



@media (max-width:760px) {
body {
    /* background-color: var(--turquoise-font-color); */
    background-color: var(--white-font-color);
    height: 8000px;

}    
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    /* margin-bottom: 1rem; */
    padding-top: 10px;
    background-color: var(--white-smoke-font-color);
  }
nav {
    width: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
margin-bottom: 1rem;
/* border: 3px solid white; */
}
#wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border: 3px solid black; */
    

}
#nav-logo-container {
    margin: 0 auto;

}
.menu-icon {
    
    padding-right: 20px;
    border: none;
    background-color: var(--turquoise-font-color);
    cursor: pointer;
    font-size: var(--mobile-title-font-size);

}
.nav-items {
    display: none;
    flex-direction: column;
    margin-top: 3rem;
  }
.nav-items li {
    list-style-type: none;
    /* display: none; */
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-family: var(--extra-thin-montserat-font);
    color: var(--full-black-font-color);
}
.nav-items li a {
    margin-right: 1rem;
    text-decoration: none;
    color: var(--full-black-font-color);
  }
.nav-items-open {
display: block;

}
.titles {
    width: 15ch;
    text-transform: uppercase;

}
.paragraph-text {
    color: var(--dark-gray-font-color);
    font-family: var(--extra-thin-montserat-font);
    width: 30ch;
}


.sections-parent {
    height: auto;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
/* border: 20px solid black; */
row-gap: var(--mobile-EXTRA-small-spacing);
background-color: var(--white-smoke-font-color);
padding-bottom: var(--mobile-small-spacing);
margin-bottom: var(--mobile-small-spacing);
}
.mobile-image-wrapper {
    
    width: 100%;
    
}
.mobile-image-wrapper img {
    width: 100%;
height: auto;

}
#span-3 {
    background-color: var(--turquoise-font-color);
}
.anchor-buttons {
    color: var(--white-font-color);
    font-family: var(--extra-thin-montserat-font);
    background-color: var(--full-black-font-color);
    padding: var(--mobile-anchor-padding);
text-transform: uppercase;
}
#SECTION-1-PARENT-CONTAINER {
row-gap: 200PX;


}

#section-2-parent-container {


}
#section-2-title {
    width: 18ch;
    
}


#section-2-paragraph-container {
    /* border: 3px solid black; */
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
overflow: hidden;

}
.paragraph-titles {
    background-color: var(--turquoise-font-color);
    color: var(--full-black-font-color);
    font-family: var(--extra-bold-montserat-font);
    text-transform: uppercase;
    padding:5px 50px;
    margin-bottom: 2px;
}
.paragraph-texts {
    text-transform: uppercase;
    font-family: var(--extra-thin-montserat-font);
    color: var(--full-black-font-color);
    margin-bottom: 10px;
}
#section-3-parent-container {


}
#section-3-title {
    width: 20ch;
    margin-bottom: var(--mobile-EXTRA-small-spacing);
}
#section-3-cards-container {
    
}
.card-items {
    /* text-align: left; */
    background-color: var(--white-smoke-font-color);
    text-align: left;
    padding: 10px 20px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
justify-content: center;
align-items: start;
    flex-shrink: 2;
    overflow-wrap: break-word;
    overflow: hidden;
    row-gap: 4px;
}
.card-items img  {
    width: 100PX;
}
.card-titles {
text-transform: uppercase;
}
.card-paragraphs {
    color: var(--full-black-font-color);
font-family: var(--extra-thin-montserat-font);
width: 35ch;
}
#section-4-title {
    width: 20ch;
}
footer {
    background-color: var(--full-black-font-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
padding: 5px 0;
}
#nav-2 {
    /* border: 3px solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white-font-color);
    text-align: center;
    padding: 50px 0;
}
#nav-2 h4 {
    margin-bottom: 5px;
}
#nav-items-2 {
    /* border: 3px solid white; */
    padding-left: 0;
}

#nav-items-2 li {
list-style-type: none;
margin-bottom: 10px;
}

#nav-items-2 li a {
text-decoration: none;
color: var(--white-font-color);
font-family: var(--extra-thin-montserat-font);

}
hr {
color: var(--white-font-color);
background-color: var(--white-font-color);
width: 200px;
margin: 20px 0;

}


footer p {
    color: var(--white-font-color);
}


}
@media (max-width:360px) {
body {
    background-color: var(--full-black-font-color);
}

.titles {
    width: 10ch;
    text-transform: uppercase;

}
.paragraph-text {
    color: var(--dark-gray-font-color);
    font-family: var(--extra-thin-montserat-font);
    width: 25ch;
}


#section-2-title {
    width: 12ch;
}
#section-3-title {
    width: 12ch;
}
.card-titles {
    width: 10ch;
}
.card-paragraphs {
    width: 20ch;
}



}